{{#with model as square}}
	<div class="well well-sm col-sm-1 board-square">
		({{square.row}}, {{square.col}})<br>
		{{#if square.hasMine}}
			<i class="fa fa-bomb text-danger"></i>
		{{/if}}
		{{#if square.isFlagged}}
			<i class="fa fa-flag text-warning"></i>
		{{/if}}
	</div>
{{/with}}
