{{#with model as square}}
	{{#if wasClicked}}
		<span class="mine-count">{{number-format nearbyMines.length}}</span>
	{{/if}}
	{{#if square.isFlagged}}
		<i class="fa fa-flag"></i>
	{{/if}}
{{/with}}
