<div class="board-container" oncontextmenu="return false;">
	{{#with model as board}}
		{{#each row in sortedRows}}
			<div class="row">
				<div class="col-sm-12 text-center">
					{{#each square in row}}
						{{board-square classNames="board-square" action="gameOver" takeTurn="takeTurn" model=square}}
					{{/each}}
				</div>
			</div>
		{{/each}}
	{{/with}}
</div>
