{{#with model as board}}
	<div class="panel panel-default">
		<div class="panel-body">
			{{#each row in sortedRows}}
				<div class="row">
					{{#each square in row}}
						{{board-square model=square}}
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>
{{/with}}