<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				{{#link-to 'index' class='navbar-brand'}}<i class="fa fa-bomb fa-lg"></i> Minesweeper{{/link-to}}
			</div>			
		</div>
	</nav>	
</header>

<div class="container">
	{{outlet}}
</div>