<div class="jumbotron">
	<h1>Game Over!</h1>

	<p>Thanks for playing! If you'd like to learn more about me or send me some feedback you can find me <a href="http://twitter.com/daltonamitchell">here</a>.</p>

	<p><a class="btn btn-danger btn-large" role="button" href="#">Play Again</a></p>	
</div>
