<div class="jumbotron">
	<h2>Welcome to Minesweeper</h2>

	{{#if level}}
		<p>Current level: {{level}}</p>
	{{else}}
		<p>Let's get started. Please select a level below to continue.</p>
	{{/if}}
</div>

<div>
	{{view 'select' 
		class="form-control" 
		content=levels
		value=level
		prompt="Please select a level to continue"}}
</div>